// Base - global styles
* {
	outline: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

html {
	@include respond-to-width(1024px) {
		box-shadow: $primary-shadow-stronger;
		width: 50rem;
		margin: auto;
	}
}

.App {
	@include sticky-footer;
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	display: block;
}

.hidden-visually {
	@include hidden-visually;
}
