// styles related to the scrollbars
html,
body {
	scrollbar-color: $secondary-color $ternary-color;
}

body::-webkit-scrollbar {
	width: 17px;
}

body::-webkit-scrollbar-track {
	background: $ternary-color;
}

body::-webkit-scrollbar-thumb {
	background-color: $secondary-color;
}
